<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var user=[
        {{#each userdata }}
            {
                id:'{{id}}',
                phno:'{{phno}}',
                userid:'{{userid}}',
                name:'{{name}}'
                dept:'{{dept}}'
            }
        {{/each}}
        ];
    </script>
</head>
<body>
     <div class="table-data">
<h2>FACULTY LIST</h2>
    <table border="1">
        <tr>
            <th>Faculty ID</th>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>phno</th>
            <th>DEPT</th>
        </tr>
        {{#each userdata}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.userid}}</td>
                <td>{{this.phno}}</td>
                <td>{{this.dept}}</td>
            </tr>
        {{/each}}
    </table>
    </div>
</body>
</html>