<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <style>
      *{
  margin:0;
  padding:0;
  font-family:  sans-serif;
  
}
html,body{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    background-color: #eeeeee;
}
a{
    text-decoration:none;
}
select{
  padding: 8px 12px;
  border-radius: 5px;
}
select option{
  background-color:rgb(159, 109, 224) ;
  color: white;
  margin: 10px;
}
label{
  padding: 12px 16px;

}
form{
  margin-top: 20px;
  margin-bottom: 20px;
}

form input[type="submit"]{
  border-radius: 15px;
  margin-left: 20px;
  width: 100px;
  height: 30px;
  background-color: rgb(159, 109, 224);
  color: white;
  outline: none;
  border: none;
}

nav{
   background: rgb(159, 109, 224);
   display: flex;
   justify-content: space-between;
   box-shadow:0 8px 16px rgb(95, 95, 95);
   padding: 30px 60px;
}
nav h1{
  border-bottom:4px solid  white;
  color: white;
}
nav ul{
  justify-content: space-around;
  display: flex;
  align-items: center;
  
}
nav li{
 color: white;
  list-style: none;
  padding-right: 30px;
}

nav a{
  color:white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}

nav a:hover{
  color: white;
  border-bottom:4px solid  white;
}


.fac{
  height: 80px;
  width:800px;
  background-color: white;
  box-shadow:0 8px 16px rgb(95, 95, 95);
  border-radius: 300px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  margin-top: 20px;
}
.fa{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  justify-content: space-between;
  height: 500pxS;
}
h2{
  
  margin-bottom: 10px;
  margin-left: 10px;
  color: rgb(159, 109, 224);

}
table{
            border-collapse: collapse;
            width:100%;
            
        }
        th,td{
            text-align: center;
            padding: 8px;
        }
        tr:nth-child(even){
            background-color: #f2f2f2;
        }
        tr:nth-child(odd){
            background-color: white;
        }
        th{
            background-color: rgb(159, 109, 224);
            color: white;
        }


  </style>
    <script>
        var users=[
        {{#each userdata }}
            {
                date:'{{date}}',
                subid:'{{subid}}',
                sub:'{{sub}}',
                slot:'{{slot}}'
            }
        {{/each}}
        ];
        var room=[
        {{#each user}}
        {
          cse:'{{cse}}',
          ece:'{{ece}}',
          aero:'{{aero}}',
          mec:'{{mec}}',
          civil:'{{civil}}'
    
        }
        {{/each}}
        ];
    </script>
</head>

<body>
     <nav>
      <h1>The University</h1>
        <ul>
          <li><a href="admin.hbs"> <b>Home</b></a></li>
          <li><a href="adminfac.hbs"><b>Faculty</b></a></li>
          <li><a href=""><b>Aboutus</b></a></li>
        </ul>
        
    </nav>
    <div>
       
        <form action="/auth/timetable" method="POST">
        <label for="dept">Department:</label>
        <select name="dept" id="dept">
            <option value="none">-none-</option>
            <option value="CSE">CSE</option>
            <option value="ECE">ECE</option>
            <option value="CIVIL">CIVIL</option>
            <option value="MEC">MEC</option>
            <option value="AERO">AERO</option>
        </select>
        <input type="submit">
        </form>
        {{#if userdata}}
        {{#if dept}}
        <h2>{{dept}}</h2>
        {{/if}}
        <table >
        <tr>
            <th>DATE</th>
            <th>SUBJECT ID</th>
            <th>SUBJECT</th>
            <th>SLOT</th>
        </tr>
        {{#each userdata}}
            <tr>
                <td>{{this.date}}</td>
                <td>{{this.subid}}</td>
                <td>{{this.sub}}</td>
                <td>{{this.slot}}</td>
            </tr>
        {{/each}}
    
        </table>
        <br>
        <br>
            <h2>Rooms Available</h2>
        <table>
          {{#each user}}
          <td>{{this.cse}}</td>
          <td>{{this.ece}}</td>
          <td>{{this.mec}}</td>
          <td>{{this.aero}}</td>
          <td>{{this.civil}}</td>
          {{/each}}
        </table>
        {{/if}}
        
    </div>

</body>
</html>